.each-slide-effect {
  position: relative;
  cursor: initial;
  background-size: cover;
  background-position: center;
}

.background-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 400px;
}

.slider-desc {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.slider-desc span {
  padding: 7px;
  margin-left: 8%;
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.slider-desc p {
  padding: 7px;
  font-size: 12px;
  width: 20em;
  margin-left: 8%;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.slider-desc button {
  padding: 7px;
  margin-left: 8%;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.slider-text-background{
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  opacity: 0.5;
  width: 100%;
}

.indicator {
  cursor: pointer;
  padding: 5px;
  text-align: center;
  border-radius:50% ;
  border: 1px #fa6fb5 solid;
  /* background: #eab308; */
  margin: 2px;
}

.indicator.active {
  /* color: #db2777; */
  background: #f7d17f;
  border: 1px #db2777  solid;
}
